.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.tags-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.grid-title {
    text-align: center;
    margin-top: 10px;
}

.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    .grid-header-left, .grid-header-right {
        width: 5%;
    }
    .grid-header-center {
        width: 90%;
        z-index: 3;
    }
}

.grid-header-right {
    display: flex;
    justify-content: flex-end;
}